<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>All Advisors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">list</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-searchbar (ionChange)="searchBy($event)"></ion-searchbar>
    </ion-card-header>
    <ion-card-content>
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col class="ion-text-left">
            <ion-text color="primary">SIN</ion-text>
          </ion-col>
          <ion-col class="ion-text-left">
            <ion-text color="primary">Name</ion-text>
          </ion-col>
          <ion-col class="ion-text-left">
            <ion-text color="primary">Address</ion-text>
          </ion-col>
          <ion-col class="ion-text-left">
            <ion-text color="primary" >Phone</ion-text>
          </ion-col>
          <ion-col class="ion-text-left">
            <ion-text color="primary" >Status</ion-text>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of records">
          <ion-col class="ion-text-left">
            <ion-button fill="clear" color="primary" (click)="edit(item)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="danger" (click)="delete(item)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-left">
            <ion-text>{{item.getMaskedSin()}}</ion-text>
          </ion-col>
          <ion-col class="ion-text-left">
            <ion-text>{{item.name}}</ion-text>
          </ion-col>
          <ion-col class="ion-text-left">
            <ion-text>{{item.address}}</ion-text>
          </ion-col>
          <ion-col class="ion-text-left">
            <ion-text>{{item.getMaskedPhone()}}</ion-text>
          </ion-col>
          <ion-col class="ion-text-left">
            <ion-icon name="ellipse" [color]="getHealthStatusColor(item.heathStatus)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>